<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Wireless Utility USB Daemon Starter</string>
	<key>OrderPreference</key>
	<string>Last</string>
	<key>Provides</key>
	<array>
		<string>Wireless Utility USB</string>
	</array>
	<key>Requires</key>
	<array>
		<string>Disks</string>
		<string>DirectoryServices</string>
		<string>Core Graphics</string>
		<string>Core Services</string>
	</array>
</dict>
</plist>
